.DS_Store
*.gexf
*.json
*.gz
.ipynb_checkpoints
*.txt
./Data
./python_files_pairs
/venv/
/.idea/
/Hoppity/gtrans.egg-info/
*/__pycache__/
logs/*/
*.pt
*.tsv
bert_base/pytorch_model.bin
bert_base/vocab.txt
bert_base/bert_config.json
*.zip
utils/utils_case_study.py
bak/
